PORT=3001

JWT_TOKEN='Blockdance-Saas'
JWT_EXPIRATION_TIME=3600

DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=root123!
DB_PORT=3306
DB_NAME=payment-gw

BANK_SERVICE=http://localhost:4000 | https://lambda-api.dev.blockdance.io/bank-integration
COMMON_TOOL_SERVICE=http://localhost:8001/api/v2 | https://api.dev.blockdance.io/common/api/v2
NUVEI_SERVICE=https://ppp-test.nuvei.com/ppp/api/v1
MERCHANT_ID=6443533374070928326
MERCHANT_SITE_ID =238408
USER_TOKEN_ID=pAFy7FsU1dr0GxF6zs0wF2qX3NLt7HC2eLtcQWjSllhq0sURZGLPNvNAhIFVXhiO
CHECKOUT_SERVICE=https://api.sandbox.checkout.com
PROCESSING_CHANNEL_ID=pc_dq33ejsnzbte7hysqvkyaswvge
CHECKOUT_SECRET_KEY=sk_sbox_wnzxf4w5liyll7s3pay67ofuoi$

TRAVEL_RULE_SERVICE=https://lambda-api.dev.pg.blockdance.io/travel-rule | https://localtest-private-api.dev.pg.blockdance.io/travel-rule
AML_SERVICE=https://lambda-api.dev.pg.blockdance.io/aml | https://localtest-private-api.dev.pg.blockdance.io/aml
HOUSE_WALLET_SERVICE=https://lambda-api.dev.pg.blockdance.io/house-wallet | https://localtest-private-api.dev.pg.blockdance.io/house-wallet

OTC_BANK_TRANSFER_SNS_TOPIC_ARN=arn:aws:sns:eu-west-1:028520877242:PaymentGwOTCBankTransferSnsTopic
AUDIT_LOG_SNS_TOPIC_ARN=arn:aws:sns:eu-west-1:028520877242:PaymentGwAuditLogSnsTopic

AUTHORIZER_GENERATE_TOKEN_FUNC="AuthorizerLambda-CustomerGenerateToken-dev"
ENABLE_PROGRAM_AUTH=false

PRIVATE_SAAS_USER_SERVICE="private-saas-user-service-api-endpoint"

AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=ASIAQNI72BS5PUKN33X2
AWS_SECRET_ACCESS_KEY=f97JoBlZ4TXQJCICaQ1kpXt5yXn8B65XAu3ptGNF
AWS_SESSION_TOKEN=IQoJb3JpZ2luX2VjEJf//////////wEaCWV1LXdlc3QtMSJHMEUCIG1qGLAs8VJLSonRuIVyD1myuaEFpQhNBdJPvu9f8MD8AiEAt5HOlrY4yeb/r0Q2llF2GMaKgyNUQtDBdHjBlvnfxJUqjwMIkP//////////ARABGgwwMjg1MjA4NzcyNDIiDPe2oMEUOEiFFtBU0yrjArfUV1lZBizPPDtqNLGj1qZ27xDmy0zhXiLzeDciXse+mMWUeutZsYBwxGi6LePoRJ4CdiLulobLuYp31LYFF0QK9odLmhW5YvrGeTXizsUgyg1SYLyMPVClbRYIG87WOIPI3n1TM7J7avrhzoEy2h9WQsulclLPnleyNgDMfeon+sWVFgVdWf6EyKai/BsrpB590ndYJPgtuAGoGJs9sOJfKvHF1IsFE374cnUO7oCVIEr4HKnA1b6gd2k6RZmPebAaIRw4V6NF0fzvc9dxRaMOJ4UR1nZ1VV2LkV9eORj7LE4UJxYoz+moNHGlQbZqwVXpMGbM/QJpYkw2GOaRmYtyJu8QKcwSJOiVlT3u9HIiPpXhiDkyxYepeDdNsVGBM1gMwaAMcQg9fbYiqrouQKVbfVI6YZT/20WqFUhdlvCdNrbIQEbwVnxzm3QSQNOdfT8D3b4tb2JZDzT1OwMK5FO6BEcwmITRqAY6pgECof0d3SIWPPGXPPtXIjMVKEH6ivSW/VeR+kd19b94ZFl28PNKkeJPBfu2MyJhbBNyR46lQtY9rayzhpPl6gq8DG3GvqgdPkFvsc2i+W2ESruFBnZJ7xX/QgrXA3DBmp/1OZen5EJtXehwV3qGghnur6+v2c+nMNkbD0jlsvPz+hDBox39ye85JTHh2VH+vJXXr3m4+QCJ55SlnJ/rGi+BqjYD6+/b

PUBLISH_FIAT_DEPOSIT_LAMBDA=https://localtest-private-api.dev.pg.blockdance.io/house-wallet/event/publish-fiat-deposit